<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./layouts/head.ejs") %>
    <title>Create new user</title>
</head>

<body class="container mt-5">
    <h1 class="text-center">Create new user</h1>
    <form action="/create" method="post" class="ms-5 me-5">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <%- include("./layouts/script.ejs") %>
</body>

</html>